@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #f8f8f8;
}

li, a, button {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 10%;
  background-color: #151515;
}

.logo {
  cursor: pointer;
  width: 42px;
  height: 42px;
  color: #fff;
}

.nav__links {
  list-style: none;
}

.nav__links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
  color: #0C8CF0;
}

.menu {
  display: none;
}

button {
  padding: 9px 25px;
  color: #000000;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover {
  background-color: #000000;
  border: 1px solid #ffffff;
  color:  #ffffff;
  transition: all 0.3s ease 0s;
}

@media only screen and (max-width: 800px) {
  .nav__links, .cta {
    display: none;
  }
  .menu {
    display: inherit;
  }
}




/* Mobile Nav */

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: #151515;
  overflow-x: hidden;
  transition: all 0.5s ease 0s;
}

.overlay__content {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.overlay a {
  padding: 15px;
  font-size: 36px;
  display: block;
  transition: all 0.3s ease 0s;
}

.overlay a:hover, .overlay a:focus {
  color: #0C8CF0;
}

.close {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}


@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .close {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}